/* h2{
    color: bisque;
}



#mainForm{
    align-self: center;
    color: aquamarine;
    margin-top: 10%;
}

#loginForm{
    display: none;
}
 */

#header {
    text-align: left;
    margin-left: 10px;
    /* margin-left: 200px; */
    margin-top: 10px;
    font-weight: bold;
    font-size: 80px;
    background-color: aqua;
}

#actBtn {
    /* text-align: right; */
    position: absolute;
    top: 35px;
    left: 1150px;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);

}

#backBtn {
    margin-top: 20px;
    margin-right: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;

}

#content {
    text-align: center;
    margin-top: 50px;
}

#submitBtn {
    margin-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

#UserName {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#Password {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#FirstName {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#LastName {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#emailID {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#PhoneNo {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#AadharNumber {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#PanNumber {
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#FlatNumber{
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#BuildingName{
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#City{
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#State{
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(123, 121, 121);
    padding: 10px;

}

#allDetails{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#heading{
    display: flex;
    justify-content: center;
}

#combine{
    display: flex;
    justify-content: center;

    align-items: center;
}